#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Temperature controlled relay"

config APP_VERSION
	string "The application version"
	default "0.0.0-development"

endmenu # Firmware versioning

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

module = TRC
module-str = Temperature controlled relay
