#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Temperature controlled relay"

config APP_VERSION
	string "The application version"
	default "0.0.0-development"

config DEFAULT_THRESHOLD
	int "Default temperature threshold in degree"
	default 24

config RELAY_PIN
	int "PIN where relay is connected"
	default 17

endmenu # Temperature controlled relay

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

module = TCR
module-str = Temperature controlled relay
